<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DeveloperHub\CancelOrder\Api\Data\CancelOrderInterface" type="DeveloperHub\CancelOrder\Model\Order" />
    <preference for="DeveloperHub\CancelOrder\Api\CancelOrderRepositoryInterface" type="DeveloperHub\CancelOrder\Model\OrderRepository" />
    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="DeveloperHub_CancelOrder::Button" type="DeveloperHub\CancelOrder\Plugin\Button" />
    </type>
</config>
